name: Test

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-16.04
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
    - name: TypeCheck with mypy
      run: |
        mypy --config-file .mypy.ini pengu
    - name: Lint with flake8
      run: |
        flake8 pengu
    - name: Test with pytest
      run: |
        pytest
